<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/RestAssured">
        <classes>


            <class name="com.causeway.api.PlannedJobsDB.PlannedJobsDB">
                <methods>
                    <include name="Test2"/>
                </methods>
            </class>
            <class name="com.causeway.api.ReactiveJobsDB.ReactiveJobsDB">
                <methods>
                    <include name="Test1"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>